@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}
/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

